<!doctype html>
<head>
    <title>NeuroGamify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/CambaML.svg') }}" alt="CAMBAM Logo" width="400" height="250"/>
            <h1 class="display-6 fw-bold text-primary">Welcome to NeuroGamify</h1>             
        </div>
        <div class="px-4 py-3 my-2 text-center">
            <h4>A unified platform to participate in research developement while you boost your brain function!</h4>
            <h4>This app was initially developed and openly provided to you by Dr. Khadra's Lab</h4>
        <form method="post" action="{{url_for('start_game')}}">
            <div class="col-md-6 mx-auto text-center">         
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Start Game</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>